In [1]:
from selenium import webdriver
import time
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

We have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [2]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [3]:
#scrap the names of watched T.V serial
name=[]
n=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in n:
    name.append(i.text)
    
#scrap the year span of serial
year=[]
y=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in y:
    year.append(i.text)

#scrap the genre of serials    
genre=[]
g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in g:
    genre.append(i.text)

#scrap the details of run_time    
run_time=[]
r=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in r:
    run_time.append(i.text) 

#scrap votes    
votes=[]
v=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in v:
    votes.append(i.text)
    
#scrap ratings    
rating=[]
r=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in r:
    rating.append(i.text)

In [4]:
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [5]:
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.5',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.4',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.2',
 '8.6',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7',
 '8.6']

In [6]:
year

['(2011–2019)',
 '(2016–2024)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017–2023)',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018–2024)',
 '(2006–2013)',
 '(2015–2023)',
 '(1999– )',
 '(2013–2023)',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014– )',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016–2023)',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [7]:
run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [8]:
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [9]:
votes

['2,174,645',
 '1,252,369',
 '1,032,911',
 '303,707',
 '262,849',
 '310,739',
 '149,538',
 '324,000',
 '359,873',
 '438,806',
 '499,073',
 '832,391',
 '591,139',
 '954,957',
 '554,209',
 '172,580',
 '332,929',
 '328,219',
 '1,994,068',
 '338,135',
 '461,094',
 '554,368',
 '158,413',
 '156,638',
 '419,608',
 '230,199',
 '444,893',
 '455,261',
 '1,031,636',
 '703,481',
 '429,231',
 '400,515',
 '141,401',
 '127,009',
 '181,813',
 '158,439',
 '235,557',
 '517,098',
 '220,182',
 '453,543',
 '556,447',
 '66,955',
 '204,542',
 '516,220',
 '412,275',
 '84,859',
 '303,104',
 '257,771',
 '234,888',
 '221,267',
 '280,516',
 '740,929',
 '136,182',
 '351,882',
 '264,714',
 '570,672',
 '586,655',
 '482,390',
 '62,439',
 '113,720',
 '350,556',
 '76,598',
 '107,715',
 '247,731',
 '101,530',
 '104,179',
 '54,846',
 '152,043',
 '390,185',
 '335,455',
 '109,453',
 '259,322',
 '598,843',
 '109,158',
 '133,564',
 '584,376',
 '112,227',
 '249,228',
 '96,524',
 '23,847',
 '150,370',
 '173,776',
 '135,343',
 '39,421',
 '308,438',
 '122,364',
 '135,357',
 '76,909',
 '112,221',
 '211,440',
 '30,740',
 '191,846',
 '231,250',
 '803,674',
 '71,297',
 '51,984',
 '64,015',
 '208,616',
 '43,411',
 '260,407']

In [10]:
df=pd.DataFrame({'NAME':name,'YEAR SPAN':year,'GENRE':genre,'RUNTIME':run_time,'RATINGS':rating,'VOTES':votes})
df

,NAME,YEAR SPAN,GENRE,RUNTIME,RATINGS,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,174,645"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,252,369"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,911"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,707"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,849"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,984"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,616"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,411"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,407"

In [11]:
driver.close()

In [12]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [13]:
#scrap the book_name:
book_name=[]
b=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in b:
    book_name.append(i.text)
    
#scrap the author name:
author=[]
a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in a:
    author.append(i.text)
    
    
#scrap the details of volume sold:
volume=[]
v=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in v:
    volume.append(i.text)
    
#scrap the publisher:
publisher=[]
p=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in p:
    publisher.append(i.text)
                
            
#scrap the genre
genre=[]
g=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in g:
    genre.append(i.text)

In [14]:
book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [15]:
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [16]:
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [17]:
author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [18]:
volume

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [19]:
df=pd.DataFrame({'BOOK NAME':book_name,'AUTHOR':author,'VOLUME SOLD':volume,'PUBLISHER':publisher,'GENERE':genre})
df

,BOOK NAME,AUTHOR,VOLUME SOLD,PUBLISHER,GENERE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [20]:
driver.close()

In [21]:
from selenium.common.exceptions import TimeoutException

# Scrape the details of top 100 songs on billiboard.com.

we have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

In [22]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.billboard.com/')

In [23]:
#click on charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [25]:
# import necessary exceptions
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException

In [28]:
delay=10

In [34]:
# now click on hot100
hot100=driver.find_element(By.XPATH,'//span[@class="c-span  a-font-primary-bold-m lrv-u-color-white lrv-u-text-align-center u-font-size-17 u-line-height-120 a-truncate-ellipsis-2line lrv-u-padding-lr-050"]')
hot100.click()

In [35]:
songname=[]
s=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li/h3')
for i in s:
    songname.append(i.text)
    
artist=[]
a=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[1]/span[1]')
for i in a:
    artist.append(i.text)
    
last_week_rank=[]
rank=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[4]/span')
for i in rank:
    last_week_rank.append(i.text)   
    
peak_rank=[]
peak=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[5]/span')
for i in peak:
    peak_rank.append(i.text)
    
weeksonboard=[]
w=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul/li[6]/span')
for i in w:
    weeksonboard.append(i.text)

In [36]:
songname

['Last Night',
 'Fast Car',
 'Calm Down',
 'Flowers',
 'All My Life',
 'Favorite Song',
 'Karma',
 'Kill Bill',
 "Creepin'",
 'Ella Baila Sola',
 'Sure Thing',
 'Anti-Hero',
 'Snooze',
 'Something In The Orange',
 'Die For You',
 'Fukumean',
 'Need A Favor',
 'Cruel Summer',
 'La Bebe',
 'You Proof',
 'Un x100to',
 "Thinkin' Bout Me",
 'Rock And A Hard Place',
 'Cupid',
 'Search & Rescue',
 'Chemical',
 'Eyes Closed',
 'Next Thing You Know',
 'Back To The Moon',
 'Where She Goes',
 'Attention',
 "I'm Good (Blue)",
 'Thought You Should Know',
 'Dance The Night',
 "Dancin' In The Country",
 'Religiously',
 "Boy's A Liar, Pt. 2",
 'Memory Lane',
 'Put It On Da Floor Again',
 'Area Codes',
 'Stand By Me',
 'Rodeo Dr',
 'Tennessee Orange',
 'Bzrp Music Sessions, Vol. 55',
 'Love You Anyway',
 'One Thing At A Time',
 'TQM',
 'Players',
 'Under The Influence',
 'Thank God',
 'Back At It',
 'Bread & Butter',
 'Princess Diana',
 'Bye',
 'Calling',
 'Daylight',
 'What It Is (Block Boy)',
 'Annihilate',
 'Bury Me In Georgia',
 'Ca$h $hit',
 'Self Love',
 'Bottom',
 'It Matters To Her',
 'Dial Drunk',
 'PRC',
 'Por Las Noches',
 'Mourning',
 'Am I Dreaming',
 'Waffle House',
 'See You Again',
 'TQG',
 'Your Heart Or Mine',
 'Peaches & Eggplants',
 'El Azul',
 'You, Me, & Whiskey',
 'IDK NoMore',
 'P Angels',
 'Cowgirls',
 "Baby Don't Hurt Me",
 'Popular',
 'Fight The Feeling',
 'Slut Me Out',
 'Paybach',
 'Plebada',
 'Save Me',
 'Fragil',
 'Jaded',
 'ICU',
 'Truck Bed',
 "Ain't That Some",
 'Shake Sumn',
 'Trustfall',
 'People',
 'Go Crazy',
 'Chanel',
 'Angel, Pt. 1',
 'Girl In Mine',
 'Moonlight',
 'Classy 101',
 'Bluffin']

In [37]:
artist

['Morgan Wallen',
 'Luke Combs',
 'Rema & Selena Gomez',
 'Miley Cyrus',
 'Lil Durk Featuring J. Cole',
 'Toosii',
 'Taylor Swift Featuring Ice Spice',
 'SZA',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Eslabon Armado X Peso Pluma',
 'Miguel',
 'Taylor Swift',
 'SZA',
 'Zach Bryan',
 'The Weeknd & Ariana Grande',
 'Gunna',
 'Jelly Roll',
 'Taylor Swift',
 'Yng Lvcas x Peso Pluma',
 'Morgan Wallen',
 'Grupo Frontera X Bad Bunny',
 'Morgan Wallen',
 'Bailey Zimmerman',
 'Fifty Fifty',
 'Drake',
 'Post Malone',
 'Ed Sheeran',
 'Jordan Davis',
 'Gunna',
 'Bad Bunny',
 'Doja Cat',
 'David Guetta & Bebe Rexha',
 'Morgan Wallen',
 'Dua Lipa',
 'Tyler Hubbard',
 'Bailey Zimmerman',
 'PinkPantheress & Ice Spice',
 'Old Dominion',
 'Latto Featuring Cardi B',
 'Kali',
 'Lil Durk Featuring Morgan Wallen',
 'Gunna',
 'Megan Moroney',
 'Bizarrap & Peso Pluma',
 'Luke Combs',
 'Morgan Wallen',
 'Fuerza Regida',
 'Coi Leray',
 'Chris Brown',
 'Kane Brown With Katelyn Brown',
 'Gunna',
 'Gunna',
 'Ice Spice & Nicki Minaj',
 'Peso Pluma',
 'Metro Boomin, Swae Lee & NAV Featuring A Boogie Wit da Hoodie',
 'David Kushner',
 'Doechii Featuring Kodak Black',
 'Metro Boomin, Swae Lee, Lil Wayne & Offset',
 'Kane Brown',
 'Gunna',
 'Metro Boomin & Coi Leray',
 'Gunna',
 'Scotty McCreery',
 'Noah Kahan',
 'Peso Pluma X Natanael Cano',
 'Peso Pluma',
 'Post Malone',
 'Metro Boomin, A$AP Rocky & Roisee',
 'Jonas Brothers',
 'Tyler, The Creator Featuring Kali Uchis',
 'Karol G x Shakira',
 'Jon Pardi',
 'Young Nudy Featuring 21 Savage',
 'Junior H x Peso Pluma',
 'Justin Moore & Priscilla Block',
 'Gunna',
 'Gunna',
 'Morgan Wallen Featuring ERNEST',
 'David Guetta, Anne-Marie & Coi Leray',
 'The Weeknd, Playboi Carti & Madonna',
 'Rod Wave',
 'NLE Choppa',
 'Gunna',
 'El Alfa x Peso Pluma',
 'Jelly Roll With Lainey Wilson',
 'Yahritza y Su Esencia x Grupo Frontera',
 'Miley Cyrus',
 'Coco Jones',
 'HARDY',
 'Morgan Wallen',
 'DaBaby',
 'P!nk',
 'Libianca',
 'Gunna',
 'Becky G & Peso Pluma',
 'Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long',
 'Parmalee',
 'Kali Uchis',
 'Feid x Young Miko',
 'Gucci Mane & Lil Baby']

In [38]:
last_week_rank

['1',
 '3',
 '4',
 '2',
 '5',
 '6',
 '9',
 '7',
 '8',
 '10',
 '11',
 '12',
 '15',
 '14',
 '13',
 '-',
 '19',
 '39',
 '16',
 '21',
 '18',
 '22',
 '25',
 '24',
 '20',
 '23',
 '26',
 '28',
 '-',
 '17',
 '-',
 '31',
 '30',
 '32',
 '34',
 '42',
 '27',
 '36',
 '29',
 '33',
 '41',
 '-',
 '38',
 '37',
 '49',
 '35',
 '40',
 '45',
 '44',
 '50',
 '-',
 '81',
 '52',
 '53',
 '46',
 '56',
 '60',
 '47',
 '64',
 '-',
 '54',
 '-',
 '55',
 '43',
 '57',
 '58',
 '59',
 '51',
 '65',
 '61',
 '62',
 '67',
 '74',
 '63',
 '66',
 '-',
 '-',
 '69',
 '71',
 '72',
 '76',
 '73',
 '-',
 '68',
 '96',
 '83',
 '85',
 '70',
 '89',
 '77',
 '78',
 '82',
 '80',
 '-',
 '79',
 '-',
 '-',
 '90',
 '-',
 '-']

In [39]:
peak_rank

['1',
 '2',
 '3',
 '1',
 '2',
 '5',
 '2',
 '1',
 '3',
 '4',
 '11',
 '1',
 '13',
 '10',
 '1',
 '16',
 '17',
 '18',
 '11',
 '5',
 '5',
 '9',
 '10',
 '17',
 '2',
 '13',
 '19',
 '28',
 '29',
 '8',
 '31',
 '4',
 '7',
 '32',
 '23',
 '36',
 '3',
 '36',
 '13',
 '33',
 '22',
 '42',
 '30',
 '31',
 '15',
 '10',
 '34',
 '9',
 '12',
 '13',
 '51',
 '48',
 '4',
 '53',
 '41',
 '47',
 '57',
 '44',
 '59',
 '60',
 '54',
 '62',
 '49',
 '43',
 '33',
 '28',
 '36',
 '51',
 '57',
 '44',
 '7',
 '67',
 '73',
 '55',
 '66',
 '76',
 '77',
 '40',
 '71',
 '43',
 '16',
 '28',
 '83',
 '68',
 '85',
 '69',
 '56',
 '63',
 '89',
 '11',
 '69',
 '82',
 '80',
 '94',
 '55',
 '65',
 '97',
 '80',
 '99',
 '100']

In [40]:
weeksonboard

['21',
 '13',
 '42',
 '23',
 '6',
 '18',
 '15',
 '28',
 '29',
 '14',
 '47',
 '35',
 '28',
 '61',
 '47',
 '1',
 '12',
 '7',
 '14',
 '58',
 '10',
 '16',
 '54',
 '14',
 '11',
 '10',
 '13',
 '22',
 '1',
 '5',
 '1',
 '43',
 '45',
 '4',
 '18',
 '7',
 '20',
 '12',
 '3',
 '7',
 '4',
 '1',
 '28',
 '3',
 '19',
 '29',
 '5',
 '25',
 '41',
 '41',
 '1',
 '3',
 '10',
 '4',
 '3',
 '10',
 '7',
 '3',
 '6',
 '1',
 '3',
 '1',
 '10',
 '2',
 '19',
 '15',
 '5',
 '3',
 '8',
 '10',
 '17',
 '6',
 '3',
 '11',
 '7',
 '1',
 '1',
 '16',
 '5',
 '3',
 '12',
 '14',
 '1',
 '2',
 '3',
 '9',
 '6',
 '14',
 '2',
 '16',
 '7',
 '4',
 '8',
 '1',
 '10',
 '2',
 '1',
 '11',
 '1',
 '1']

In [41]:
df=pd.DataFrame({'SONG NAME':songname,'ARTIST':artist,'LAST WEEK RANK':last_week_rank,'PEAK RANK':peak_rank,'WEEKS ON BOARD':weeksonboard})
df

,SONG NAME,ARTIST,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

In [42]:
driver.close()

# Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [43]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [44]:
# scrap the names of the vedio
name=[]
n=driver.find_elements(By.XPATH,'//div[@class="mw-body-content mw-content-ltr"]/div/table[2]/tbody/tr/td[2]')
for i in n:
    name.append(i.text)
    
#scrap the artists
artist=[]
a=driver.find_elements(By.XPATH,'//div[@class="mw-body-content mw-content-ltr"]/div/table[2]/tbody/tr/td[3]')
for i in a:
    artist.append(i.text) 
    
# scrap upload date of the vedioes
upload_date=[]
u=driver.find_elements(By.XPATH,'//div[@class="mw-body-content mw-content-ltr"]/div/table[2]/tbody/tr/td[5]')
for i in u:
    upload_date.append(i.text) 
    
# scrap views of video
views=[]
v=driver.find_elements(By.XPATH,'//div[@class="mw-body-content mw-content-ltr"]/div/table[2]/tbody/tr/td[4]')
for i in v:
    views.append(i.text) 
        
# scrap rank 
rank=[]
r=driver.find_elements(By.XPATH,'//div[@class="mw-body-content mw-content-ltr"]/div/table[2]/tbody/tr/td[1]')
for i in r:
    rank.append(i.text)

In [45]:
name

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[16]',
 '"Bath Song"[17]',
 '"Shape of You"[18]',
 '"See You Again"[21]',
 '"Phonics Song with Two Words"[26]',
 '"Wheels on the Bus"[27]',
 '"Uptown Funk"[28]',
 '"Learning Colors – Colorful Eggs on a Farm"[29]',
 '"Gangnam Style"[30]',
 '"Masha and the Bear – Recipe for Disaster"[35]',
 '"Dame Tu Cosita"[36]',
 '"Axel F"[37]',
 '"Sugar"[38]',
 '"Roar"[39]',
 '"Counting Stars"[40]',
 '"Sorry"[41]',
 '"Baa Baa Black Sheep"[42]',
 '"Thinking Out Loud"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Dark Horse"[45]',
 '"Lakdi Ki Kathi"[46]',
 '"Faded"[47]',
 '"Perfect"[48]',
 '"Let Her Go"[49]',
 '"Girls Like You"[50]',
 '"Humpty the train on a fruits ride"[51]',
 '"Lean On"[52]',
 '"Bailando"[53]']

In [46]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Cocomelon – Nursery Rhymes',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Crazy Frog',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Shakira',
 'Katy Perry',
 'Jingle Toons',
 'Alan Walker',
 'Ed Sheeran',
 'Passenger',
 'Maroon 5',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Major Lazer',
 'Enrique Iglesias']

In [47]:
views

['12.85',
 '8.16',
 '6.70',
 '6.20',
 '6.00',
 '5.89',
 '5.30',
 '5.24',
 '4.92',
 '4.89',
 '4.80',
 '4.55',
 '4.35',
 '3.91',
 '3.87',
 '3.80',
 '3.79',
 '3.66',
 '3.64',
 '3.60',
 '3.59',
 '3.52',
 '3.48',
 '3.45',
 '3.45',
 '3.44',
 '3.42',
 '3.41',
 '3.38',
 '3.38']

In [48]:
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'June 25, 2018',
 'October 7, 2014',
 'June 4, 2010',
 'February 20, 2014',
 'June 14, 2018',
 'December 3, 2015',
 'November 9, 2017',
 'July 25, 2012',
 'May 31, 2018',
 'January 26, 2018',
 'March 22, 2015',
 'April 11, 2014']

In [49]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [50]:
df=pd.DataFrame({'Name':name,'Rank':rank,'Upload_date':upload_date,'Views':views})
df

,Name,Rank,Upload_date,Views
0,"""Baby Shark Dance""[6]",1.,"June 17, 2016",12.85
1,"""Despacito""[9]",2.,"January 12, 2017",8.16
2,"""Johny Johny Yes Papa""[16]",3.,"October 8, 2016",6.70
3,"""Bath Song""[17]",4.,"May 2, 2018",6.20
4,"""Shape of You""[18]",5.,"January 30, 2017",6.00
5,"""See You Again""[21]",6.,"April 6, 2015",5.89
6,"""Phonics Song with Two Words""[26]",7.,"March 6, 2014",5.30
7,"""Wheels on the Bus""[27]",8.,"May 24, 2018",5.24
8,"""Uptown Funk""[28]",9.,"November 19, 2014",4.92
9,"""Learning Colors – Colorful Eggs on a Farm""[29]",10.,"February 27, 2018",4.89
10,"""Gangnam Style""[30]",11.,"July 15, 2012",4.80
11,"""Masha and the Bear – Recipe for Disaster""[35]",12.,"January 31, 2012",4.55
12,"""Dame Tu Cosita""[36]",13.,"April 5, 2018",4.35
13,"""Axel F""[37]",14.,"June 16, 2009",3.91
14,"""Sugar""[38]",15.,"January 14, 2015",3.87
15,"""Roar""[39]",16.,"September 5, 2013",3.80
16,"""Counting Stars""[40]",17.,"May 31, 2013",3.79
17,"""Sorry""[41]",18.,"October 22, 2015",3.66
18,"""Baa Baa Black Sheep""[42]",19.,"June 25, 2018",3.64
19,"""Thinking Out Loud""[43]",20.,"October 7, 2014",3.60
20,"""Waka Waka (This Time for Africa)""[44]",21.,"June 4, 2010",3.59
21,"""Dark Horse""[45]",22.,"February 20, 2014",3.52
22,"""Lakdi Ki Kathi""[46]",23.,"June 14, 2018",3.48
23,"""Faded""[47]",24.,"December 3, 2015",3.45
24,"""Perfect""[48]",25.,"November 9, 2017",3.45
25,"""Let Her Go""[49]",26.,"July 25, 2012",3.44
26,"""Girls Like You""[50]",27.,"May 31, 2018",3.42
27,"""Humpty the train on a fruits ride""[51]",28.,"January 26, 2018",3.41
28,"""Lean On""[52]",29.,"March 22, 2015",3.38
29,"""Bailando""[53]",30.,"April 11, 2014",3.38

In [51]:
driver.close()

# Scrape the details teamIndia’sinternationalfixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
We need to find following details:
    
A) Match title

B) Series

C) Place

D) Date

E) Time

In [52]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.bcci.tv/.')

In [53]:
#click on international
international=driver.find_element(By.CLASS_NAME,"nav-link ")
international.click()

In [57]:
#click on fixture 3 times to get all international fixture
fixture=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
fixture.click()

In [58]:
# scrap match title
title=[]
t=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in t:
    title.append(i.text)

In [59]:
title

['1st T20I -',
 '2nd T20I -',
 '1st Test -',
 '3rd T20I -',
 '1st ODI -',
 '2nd ODI -',
 '2nd Test -',
 '3rd ODI -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '4th T20I -',
 '5th T20I -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '4th ODI -',
 '5th ODI -',
 '6th ODI -',
 '7th ODI -',
 '8th ODI -',
 '9th ODI -']

In [60]:
# scrap place of match( stadium)
place=[]
p=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in p:
    place.append(i.text)

In [61]:
place

['Shere Bangla National Stadium, Mirpur,',
 'Shere Bangla National Stadium, Mirpur,',
 'Windsor Park,',
 'Shere Bangla National Stadium, Mirpur,',
 'Shere Bangla National Stadium, Mirpur,',
 'Shere Bangla National Stadium, Mirpur,',
 "Queen's Park Oval,",
 'Shere Bangla National Stadium, Mirpur,',
 'Kensington Oval,',
 'Kensington Oval,',
 'Brian Lara Stadium,',
 'Brian Lara Stadium,',
 'National Stadium,',
 'National Stadium,',
 'Central Broward Regional Park Stadium Turf Ground,',
 'Central Broward Regional Park Stadium Turf Ground,',
 'MA Chidambaram Stadium,',
 'Arun Jaitley Stadium,',
 'Narendra Modi Stadium,',
 'Maharashtra Cricket Association Stadium,',
 'Himachal Pradesh Cricket Association Stadium,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Wankhede Stadium,',
 'Eden Gardens,',
 'M Chinnaswamy Stadium,']

In [62]:
# scrap the city
place2=[]
p=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in p:
    place2.append(i.text)

In [63]:
place2

['Dhaka',
 'Dhaka',
 'Dominica',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Trinidad',
 'Dhaka',
 'Barbados',
 'Barbados',
 'Trinidad',
 'Trinidad',
 'Guyana',
 'Guyana',
 'Florida',
 'Florida',
 'Chennai',
 'Delhi',
 'Ahmedabad',
 'Pune',
 'Dharamsala',
 'Lucknow',
 'Mumbai',
 'Kolkata',
 'Bengaluru']

In [64]:
# scrap the date of match
date=[]
d=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in d:
    date.append(i.text)

In [65]:
date

['9 JUL 2023',
 '11 JUL 2023',
 '12 JUL 2023',
 '13 JUL 2023',
 '16 JUL 2023',
 '19 JUL 2023',
 '20 JUL 2023',
 '22 JUL 2023',
 '27 JUL 2023',
 '29 JUL 2023',
 '1 AUG 2023',
 '3 AUG 2023',
 '6 AUG 2023',
 '8 AUG 2023',
 '12 AUG 2023',
 '13 AUG 2023',
 '8 OCT 2023',
 '11 OCT 2023',
 '15 OCT 2023',
 '19 OCT 2023',
 '22 OCT 2023',
 '29 OCT 2023',
 '2 NOV 2023',
 '5 NOV 2023',
 '11 NOV 2023']

In [66]:
# scrap match timing
time=[]
t=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in t:
    time.append(i.text)

In [67]:
time

['1:30 PM IST',
 '1:30 PM IST',
 '7:30 PM IST',
 '1:30 PM IST',
 '9:00 AM IST',
 '9:00 AM IST',
 '7:30 PM IST',
 '9:00 AM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST']

In [68]:
df=pd.DataFrame({'Match Title':title,'Stadium':place,'city':place2,'Date':date,'Time':time})
df

,Match Title,Stadium,city,Date,Time
0,1st T20I -,"Shere Bangla National Stadium, Mirpur,",Dhaka,9 JUL 2023,1:30 PM IST
1,2nd T20I -,"Shere Bangla National Stadium, Mirpur,",Dhaka,11 JUL 2023,1:30 PM IST
2,1st Test -,"Windsor Park,",Dominica,12 JUL 2023,7:30 PM IST
3,3rd T20I -,"Shere Bangla National Stadium, Mirpur,",Dhaka,13 JUL 2023,1:30 PM IST
4,1st ODI -,"Shere Bangla National Stadium, Mirpur,",Dhaka,16 JUL 2023,9:00 AM IST
5,2nd ODI -,"Shere Bangla National Stadium, Mirpur,",Dhaka,19 JUL 2023,9:00 AM IST
6,2nd Test -,"Queen's Park Oval,",Trinidad,20 JUL 2023,7:30 PM IST
7,3rd ODI -,"Shere Bangla National Stadium, Mirpur,",Dhaka,22 JUL 2023,9:00 AM IST
8,1st ODI -,"Kensington Oval,",Barbados,27 JUL 2023,7:00 PM IST
9,2nd ODI -,"Kensington Oval,",Barbados,29 JUL 2023,7:00 PM IST
10,3rd ODI -,"Brian Lara Stadium,",Trinidad,1 AUG 2023,7:00 PM IST
11,1st T20I -,"Brian Lara Stadium,",Trinidad,3 AUG 2023,8:00 PM IST
12,2nd T20I -,"National Stadium,",Guyana,6 AUG 2023,8:00 PM IST
13,3rd T20I -,"National Stadium,",Guyana,8 AUG 2023,8:00 PM IST
14,4th T20I -,Central Broward Regional Park Stadium Turf Gro...,Florida,12 AUG 2023,8:00 PM IST
15,5th T20I -,Central Broward Regional Park Stadium Turf Gro...,Florida,13 AUG 2023,8:00 PM IST
16,1st ODI -,"MA Chidambaram Stadium,",Chennai,8 OCT 2023,2:00 PM IST
17,2nd ODI -,"Arun Jaitley Stadium,",Delhi,11 OCT 2023,2:00 PM IST
18,3rd ODI -,"Narendra Modi Stadium,",Ahmedabad,15 OCT 2023,2:00 PM IST
19,4th ODI -,"Maharashtra Cricket Association Stadium,",Pune,19 OCT 2023,2:00 PM IST
20,5th ODI -,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,22 OCT 2023,2:00 PM IST
21,6th ODI -,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,29 OCT 2023,2:00 PM IST
22,7th ODI -,"Wankhede Stadium,",Mumbai,2 NOV 2023,2:00 PM IST
23,8th ODI -,"Eden Gardens,",Kolkata,5 NOV 2023,2:00 PM IST
24,9th ODI -,"M Chinnaswamy Stadium,",Bengaluru,11 NOV 2023,2:00 PM IST

In [69]:
driver.close()

# Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.

Url = http://statisticstimes.com/
    
We have to find following details:
    
A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

In [70]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('http://statisticstimes.com/')

In [71]:
#click on economy:
economy=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy.click()

In [72]:
# now click on india:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [74]:
#now click on GDP of indian states:
state=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state.click()

In [75]:
# scrap the rank acoording to statewise GSDP:
rank=[]
r=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in r:
    rank.append(i.text)

In [76]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [77]:
# state accordind to rank
state=[]
s=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in s:
    state.append(i.text)

In [78]:
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [79]:
#GSDP (18-19)-at current prices:
gsdp=[]
g=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in g:
    gsdp.append(i.text)

In [80]:
gsdp

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [81]:
#GSDP (19-20)-at current prices:
gsdp1=[]
g1=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in g1:
    gsdp1.append(i.text)

In [82]:
gsdp1

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [83]:
#share (18-19):
share=[]
s=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in s:
    share.append(i.text)

In [84]:
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [85]:
#GDP ($ billion) :
gdp=[]
g=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in g:
    gdp.append(i.text)

In [86]:
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [87]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)':gsdp,'GSDP(19-20)':gsdp1,'Share(18-19)':share,'GDP($billion)':gdp})
df

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [88]:
driver.close()

# Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
We have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [89]:
# fetching out web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://github.com/')

In [90]:
# import necessary exceptions
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException

In [91]:
# click on open source
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [92]:
delay=5

In [93]:
# click on trending repository
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [94]:
# scrap repositort title
title=[]
delay=5
try:
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.XPATH,'//h2[@class="h3 lh-condensed"]')))
    t=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in t:
        title.append(i.text)
except TimeOutException as e:
    print("exception raised",e)

In [95]:
title

['ChaoningZhang / MobileSAM',
 'abacaj / mpt-30B-inference',
 'slarkvan / Block-Pornographic-Replies',
 'WeMakeDevs / open-source-course',
 'PowerShell / PowerShell',
 'XingangPan / DragGAN',
 'facebook / folly',
 'ParthJadhav / Tkinter-Designer',
 'papers-we-love / papers-we-love',
 'wgwang / LLMs-In-China',
 'practical-tutorials / project-based-learning',
 'mengjian-github / copilot-analysis',
 'dotnet-architecture / eShopOnContainers',
 'EbookFoundation / free-programming-books',
 'chinese-poetry / chinese-poetry',
 'alexbei / telegram-groups',
 'questdb / questdb',
 'fuqiuluo / unidbg-fetch-qsign',
 'mosaicml / composer',
 'alibaba / DataX',
 'toeverything / AFFiNE',
 'phodal / aigc',
 'imgly / background-removal-js',
 'sourcegraph / sourcegraph',
 'buqiyuan / vue3-antd-admin']

In [96]:
# scrap repository discription
disc=[]
try:
    d=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in d:
        disc.append(i.text)
except NoSuchElementException as e:
    disc.append("-")

In [97]:
disc

['This is the official code for Faster Segment Anything (MobileSAM) project that makes SAM lightweight for mobile applications and beyond!',
 'Run inference on MPT-30B using CPU',
 '屏蔽推特回复下的黄推。Block pornographic replies below the tweet.',
 'PowerShell for every system!',
 'Official Code for DragGAN (SIGGRAPH 2023)',
 'An open-source C++ library developed and used at Facebook.',
 'An easy and fast way to create a Python GUI 🐍',
 'Papers from the computer science community to read and discuss.',
 '中国大模型',
 'Curated list of project-based tutorials',
 'Cross-platform .NET sample microservices and container based application that runs on Linux Windows and macOS. Powered by .NET 7, Docker Containers and Azure Kubernetes Services. Supports Visual Studio, VS for Mac and CLI based environments with Docker CLI, dotnet CLI, VS Code or any other code editor.',
 '📚 Freely available programming books',
 'The most comprehensive database of Chinese poetry 🧶最全中华古诗词数据库, 唐宋两朝近一万四千古诗人, 接近5.5万首唐诗加26万宋诗. 两宋时期1564位词人，21050首词。',
 '经过精心筛选，从5000+个电报群组/频道/机器人中挑选出的优质推荐！如果您有更多值得推荐的电报群组/频道/机器人，欢迎在issue中留言或提交pull requests。感谢您的关注！',
 'An open source time-series database for fast ingest and SQL queries',
 '获取QQSign通过Unidbg',
 'Train neural networks up to 7x faster',
 'DataX是阿里云DataWorks数据集成的开源版本。',
 'There can be more than Notion and Miro. AFFiNE is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 '《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍了大语言模型的基础知识和应用，以及如何构建自己的模型。其中包括Prompt的编写、开发和管理，探索最好的大语言模型能带来什么，以及LLM应用开发的模式和架构设计。',
 'Remove backgrounds from images directly in the browser environment with ease and no additional costs or privacy concerns. Explore an interactive demo.',
 'Code Intelligence Platform',
 '基于vue-cli5.x/vite2.x + vue3.x + ant-design-vue3.x + typescript hooks 的基础后台管理系统模板 RBAC的权限系统, JSON Schema动态表单,动态表格,漂亮锁屏界面']

In [98]:
# scrap url
url=[]
u=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a')
for i in u:
    url.append(i.get_attribute("href"))

In [99]:
url

['https://github.com/ChaoningZhang/MobileSAM',
 'https://github.com/abacaj/mpt-30B-inference',
 'https://github.com/slarkvan/Block-Pornographic-Replies',
 'https://github.com/WeMakeDevs/open-source-course',
 'https://github.com/PowerShell/PowerShell',
 'https://github.com/XingangPan/DragGAN',
 'https://github.com/facebook/folly',
 'https://github.com/ParthJadhav/Tkinter-Designer',
 'https://github.com/papers-we-love/papers-we-love',
 'https://github.com/wgwang/LLMs-In-China',
 'https://github.com/practical-tutorials/project-based-learning',
 'https://github.com/mengjian-github/copilot-analysis',
 'https://github.com/dotnet-architecture/eShopOnContainers',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/chinese-poetry/chinese-poetry',
 'https://github.com/alexbei/telegram-groups',
 'https://github.com/questdb/questdb',
 'https://github.com/fuqiuluo/unidbg-fetch-qsign',
 'https://github.com/mosaicml/composer',
 'https://github.com/alibaba/DataX',
 'https://github.com/toeverything/AFFiNE',
 'https://github.com/phodal/aigc',
 'https://github.com/imgly/background-removal-js',
 'https://github.com/sourcegraph/sourcegraph',
 'https://github.com/buqiyuan/vue3-antd-admin']

In [100]:
# scrap contributors count:
cont=[]
for i in url:
    driver.get(i)
    time.sleep=2
    try:
        cont_tags = driver.find_element(By.XPATH,'//span[contains(@class="Counter ml-1")]')
        Cont.append(cont_tags.replace('//span[contains(@class="Counter ml-1")')
    except NoSuchElementException as e:
           cont.append('-')

SyntaxError: invalid syntax (2955634749.py, line 9)

In [101]:
# scrap language that used in repository:
lang=[]
for i in url:
    driver.get(i)
    try:
        l=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        lang.append(l.text)
    except NoSuchElementException as e:
        lang.append("--")

In [102]:
lang

['Jupyter Notebook',
 'Python',
 'JavaScript',
 '--',
 'C#',
 'Python',
 'C++',
 'Python',
 'Shell',
 '--',
 '--',
 'JavaScript',
 'C#',
 '--',
 'JavaScript',
 'Python',
 'Java',
 'Kotlin',
 'Python',
 'Java',
 'TypeScript',
 'Rust',
 'TypeScript',
 'Go',
 'Vue']

In [103]:
driver.close()

# Details of Datasetsfrom UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [104]:
#scrap the web page
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://archive.ics.uci.edu/')

In [105]:
# click on dataset
view=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
view.click()

In [108]:
# click on expand all
delay=5
try:
    WebDriverWait(driver,delay).until(EC.presence_of_element_located((By.XPATH,'//span[@class="swap-on text-primary-content"]')))
    expand_all=driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
    expand_all.click()
except TimeoutException as e: 
       print('raised error',e)

In [109]:
# scrap the name of dataset
dataset=[]
d=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in d:
    dataset.append(i.text)
    next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [110]:
dataset

['Iris',
 'Heart Disease',
 'Adult',
 'Dry Bean Dataset',
 'Diabetes',
 'Rice (Cammeo and Osmancik)',
 'Wine',
 'Car Evaluation',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Mushroom']

In [111]:
# scrap types of attribute
attribute_t=[]
a=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
for i in a:
    attribute_t.append(i.text)
    next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [112]:
attribute_t

['Real',
 'Categorical, Integer, Real',
 'Categorical, Integer',
 'Integer, Real',
 'Categorical, Integer',
 'Real',
 'Integer, Real',
 'Categorical',
 'Real',
 'Categorical']

In [113]:
# scrap year
year=[]
y=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
for i in y:
    year.append(i.text)
    next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [114]:
year

['7/1/1988',
 '7/1/1988',
 '5/1/1996',
 '9/14/2020',
 'N/A',
 '10/6/2019',
 '7/1/1991',
 '6/1/1997',
 '11/1/1995',
 '4/27/1987']

In [115]:
# scrap the data type of datasets
data_type=[]
try:
    d=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in d:
        data_type.append(i.text)
except NoSuchElementException as e:
        data_type.append("--")
        next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [116]:
data_type

['Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 '',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate']

In [117]:
# scrapping url for further details:
url=[]
u=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in u:
    url.append(i.get_attribute('href'))
    next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [118]:
url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [119]:
# scrap the no. of attribute:
no_of_attribute=[]
for i in url:
    driver.get(i)
    try:
        a=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        no_of_attribute.append(a.text)
    except NoSuchElementException as e:
        no_of_attribute.append("--")
        next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [120]:
no_of_attribute

['4', '13', '14', '17', '20', '8', '13', '6', '30', '22']

In [121]:
# scrap no. of instance:
no_of_instance=[]
for i in url:
    driver.get(i)
    try:
        a=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_of_instance.append(a.text)
    except NoSuchElementException as e:
        no_of_instance.append("--")
        next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [122]:
no_of_instance

['150', '303', '48842', '13611', '-', '3810', '178', '1728', '569', '8124']

In [123]:
# scrap task of the datset:
task=[]
for i in url:
    driver.get(i)
    try:
        t=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(t.text)
    except NoSuchElementException as e:
        task.append("--")
        next_b=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]/svg')

In [124]:
task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 '-',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification']

In [125]:
df=pd.DataFrame({'Dataset':dataset,'Data Type':data_type,'Attribute Type':attribute_t,'No. of isntance':no_of_instance,'No. of Attribute':no_of_attribute,'Task':task,'Year':year})
df

,Dataset,Data Type,Attribute Type,No. of isntance,No. of Attribute,Task,Year
0,Iris,Multivariate,Real,150,4,Classification,7/1/1988
1,Heart Disease,Multivariate,"Categorical, Integer, Real",303,13,Classification,7/1/1988
2,Adult,Multivariate,"Categorical, Integer",48842,14,Classification,5/1/1996
3,Dry Bean Dataset,Multivariate,"Integer, Real",13611,17,Classification,9/14/2020
4,Diabetes,,"Categorical, Integer",-,20,-,N/A
5,Rice (Cammeo and Osmancik),Multivariate,Real,3810,8,Classification,10/6/2019
6,Wine,Multivariate,"Integer, Real",178,13,Classification,7/1/1991
7,Car Evaluation,Multivariate,Categorical,1728,6,Classification,6/1/1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Real,569,30,Classification,11/1/1995
9,Mushroom,Multivariate,Categorical,8124,22,Classification,4/27/1987

In [126]:
driver.close()